*{
  background-color: rgb(10, 192, 192);
}

body {
  width: 960px;
  margin: 0px auto;
  text-align: center;
}

img {
  width: 250px;
  height: 250px;
  border: 10px solid black;
  display: inline-block;
  margin: 15px;
  border-radius: 20px;
}

body section {
  border: 10px groove lightblue;
  margin-bottom: 60px;
}

h1 {
  font-size: 40px;
  margin: 20px auto;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  margin-bottom: 60px;
}

canvas {
  padding-top: 10px;
}